html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/white_wall.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {

    position: absolute;
    /* margin: 0 auto; */
    top: 100px;

    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 0 3em; */
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.freeze {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

/* .panel {
    border: 1px solid blue;
} */

.score-panel {
    display: flex;
    flex-flow: row wrap;
    width: 280px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.moves {
    width: 90px;
    text-align: right;
    padding-right: 10px;
}

.score-panel .timer {
    display: inline-block;
    text-align: left;
    flex-grow: 2;
    align-self: center;
    margin: 0;
    padding-left: 13px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    width: 30px;
    text-align: right;
}

/* 
 * Styles for modal 
 */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}
  
.modalContent {
    background-color: #f4f4f4;
    /* margin: 137px auto; */
    position: relative;
    margin: 0 auto;
    top: 116px;
    
    width: 660px;
    min-height: 680px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: openModal;
    animation-duration: 2s;
}
  
.modalHeader h2 {
    margin: 0;
}
  
.modalHeader {
    /* background: #66d35c; */
    background: #2e3d49;
    padding: 15px;
    color: #fff;
    text-align: center;
    font-size: 1.44rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 2px 200px 0 rgba(46, 61, 73, 0.4);
}
  
.modalBody {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px 20px;
    /* background-color: #ffffffcf; */
}
  
.closeButton {
    float: right;
    margin-right: 10px;
    color: #ccc;
    font-size: 32px;
    color: #fff;
}
  
.closeButton:hover, .closeButton:focus {
    cursor: pointer;
    /* color: #000; */
    color: rgba(23, 13, 13, 0.81);
    text-decoration: none;
}

.congratulations {
    text-align: center;
    font-size: 1.85rem;
    margin: 60px 20px 35px;
}

.congratText {
    padding-left: 20%;
    padding-bottom: 30px;
}

.congratStars {
    display: block;
    margin: auto;
}

.playAgainButton {
    display: block;
    margin: auto;
    padding: 11px 16px;
    border-radius: 7px;
    color: #fff;
    background: #47b63d;
    font-size: 1rem;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); 
    /* align-self: flex-end; */ 
}

.playAgainButton:hover, .playAgainButton:focus {
    cursor: pointer;
    /* background-color: #66d35c; */
    background-color: #2e3d49;
    text-decoration: none;
}
  
@keyframes openModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
 * Styles for checkmark. Reference: https://stackoverflow.com/questions/41078478/css-animated-checkmark and https://jsfiddle.net/Hybrid8287/gtb1avet/1/
 */

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #66d35c;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
  
.checkmark {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffffe2;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #66d35c;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
  
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
  
@keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 80px #66d35c;
    }
}